# Python Derleme Dosyaları (Bytecode)
__pycache__/
models/__pycache__/
scraper/__pycache__/
*.pyc
*.pyo
*.pyd

# Yerel Sanal Ortam (Virtual Environment)
venv/

# Gizli Çevre Değişkenleri ve Veritabanı Şifreleri
.env

# Dosya örnekleri
Technical_Assessment_Python_Data_Scraper_Internship.pdf
z13.docx
zz2.txt